[run]
branch = True
include = sage_painless/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    else
    elif
    if
    self.* =
    self.stream_to_template
    for model in models
    for app_name
    self.fix_pep8
    end_time = time.time()
    return False
    return self.name

ignore_errors = True

[html]
directory = coverage_html_report

[paths]
source =
    sage_painless/